<a href="https://colab.research.google.com/github/ChetanJadhav2341/Global-Terrorism-Analysis/blob/main/Copy_of_Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [8]:
url='/content/drive/MyDrive/Global Terrorism Analysis/Copy of Global Terrorism Analysis - Capstone Project.ipynb'

In [10]:
df=pd.read_csv(url)

In [16]:
df.head()

Empty DataFrame
Columns: [{"nbformat":4, nbformat_minor:0, metadata:{"kernelspec":{"display_name":"Python 3", language:"python", name:"python3"}, language_info:{"codemirror_mode":{"name":"ipython", version:3}, file_extension:".py", mimetype:"text/x-python", name:"python", nbconvert_exporter:"python", pygments_lexer:"ipython3", version:"3.6.6"}, colab:{"provenance":[{"file_id":"1G8H8KGMSFfz_UXO0KH1nVdXzvBd5H_kl", timestamp:1666593707066}, {"file_id":"1KNx2-lMsfxLj8Qi5Ez9LOXpMHRWtSHNK", timestamp:1604585315628}], collapsed_sections:[]}}, cells:[{"cell_type":"markdown", metadata:{"id":"Y06xIdG26kRF"}, source:["## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180, 000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START),  headquartered at the University of Maryland.</b>\n", \n, # <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>]}, {"cell_type":"code", source:["from google.colab import drive\n", drive.mount('/content/drive')], metadata:{"colab":{"base_uri":"https://localhost:8080/"}, id:"7C9owjqUBtuE", executionInfo:{"status":"ok", timestamp:1666598803180, user_tz:-330, elapsed:39477, user:{"displayName":"Chetan Jadhav", userId:"01954052030359843285"}}, outputId:"88ae881c-8d3e-4f8d-f634-a8c4c28e02cc"}, execution_count:2, outputs:[{"output_type":"stream", name:"stdout", text:["Mounted at /content/drive\n"]}]}, {"cell_type":"code".1, source:["import pandas as pd\n", import numpy as np\n, import seaborn as sns \n, import matplotlib.pyplot as plt\n], metadata:{"id":"D2nFtCqaCxys"}, execution_count:null, outputs:[]}, {"cell_type":"code".2, metadata:{"id":"dByMsuzT8Tnw", executionInfo:{"status":"ok".1, timestamp:1666598852986, user_tz:-330.1, elapsed:1414, user:{"displayName":"Chetan Jadhav".1, userId:"01954052030359843285"}}}, source:["url='/content/drive/MyDrive/Global Terrorism Analysis/Copy of Global Terrorism Analysis - Capstone Project.ipynb'"], execution_count:3, outputs:[]}.1, {"cell_type":"code".3, source:["df=pd.read_csv('url')"], metadata:{"colab":{"base_uri":"https://localhost:8080/", height:165}, id:"4VM9ngUCBeFK", executionInfo:{"status":"error", timestamp:1666599024539, user_tz:-330.2, elapsed:13, user:{"displayName":"Chetan Jadhav".2, userId:"01954052030359843285"}}.1, outputId:"e68ee8fa-d804-4f92-baee-f5ad17243087"}, execution_count:6, outputs:[{"output_type":"error", ename:"NameError", evalue:"ignored", traceback:["\u001b[0;31m---------------------------------------------------------------------------\u001b[0m", \u001b[0;31mNameError\u001b[0m                                 Traceback (most recent call last), \u001b[0;32m<ipython-input-6-fdba8c0e51fb>\u001b[0m in \u001b[0;36m<module>\u001b[0;34m\u001b[0m\n\u001b[0;32m----> 1\u001b[0;31m \u001b[0mdf\u001b[0m\u001b[0;34m=\u001b[0m\u001b[0mpd\u001b[0m\u001b[0;34m.\u001b[0m\u001b[0mread_csv\u001b[0m\u001b[0;34m(\u001b[0m\u001b[0;34m'url'\u001b[0m\u001b[0;34m)\u001b[0m\u001b[0;34m\u001b[0m\u001b[0;34m\u001b[0m\u001b[0m\n\u001b[0m, \u001b[0;31mNameError\u001b[0m: name 'pd' is not defined]}]}, {"cell_type":"code".4, source:[], metadata:{"id":"OMEYR9PKCith"}, execution_count:null.1, outputs:[]}]}]
Index: []

[0 rows x 85 columns]