<a href="https://colab.research.google.com/github/ChetanJadhav2341/Global-Terrorism-Analysis/blob/main/Copy_of_Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('/content/drive/MyDrive/Global Terrorism Analysis/Global Terrorism Data.csv',encoding="ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [5]:
df.sample(5)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
139404,201410200040,2014,10,20,NaN,0,NaN,214,Ukraine,9,...,NaN,"""Attacks on Politicians in Ukraine Add to Tens...","""Case on attempt to kill parliamentary candida...","""Ukraine Vote Candidate Survives Gun, Grenade ...",START Primary Collection,-9,-9,0,-9,NaN
85138,200711280013,2007,11,28,NaN,0,NaN,153,Pakistan,6,...,NaN,"Shahzada Zulfiqar, 3 FC men dead in Punjgoor ...",Three troops killed in southwest Pakistan: of...,NaN,CETIS,-9,-9,0,-9,NaN
145862,201503220006,2015,3,22,NaN,0,NaN,113,Libya,10,...,NaN,"""ISIL claims responsibility for Libya's Misrat...","""Libya: Car bomb explodes near security servic...","""Daesh claims responsibility for bombing in Li...",START Primary Collection,0,0,0,0,NaN
68683,199903190012,1999,3,19,NaN,0,NaN,6,Algeria,10,...,NaN,"Algeria: 32 Killed in Recent Violence, Agenc...",NaN,NaN,CETIS,-9,-9,0,-9,"199903190012, 199903190013, 199903200004, 1999..."
23279,198409150001,1984,9,15,NaN,0,NaN,222,Venezuela,3,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,0,-9,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [7]:
df.describe(include='all')

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
count,1.816910e+05,181691.000000,181691.000000,181691.000000,9239,181691.000000,2220,181691.000000,181691,181691.000000,...,28289,115500,76933,43516,181691,181691.000000,181691.000000,181691.000000,181691.000000,25038
unique,NaN,NaN,NaN,NaN,2244,NaN,1859,NaN,205,NaN,...,15429,83988,62263,36090,26,NaN,NaN,NaN,NaN,14306
top,NaN,NaN,NaN,NaN,"September 18-24, 2016",NaN,8/4/1998,NaN,Iraq,NaN,...,Casualty numbers for this incident conflict ac...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Christopher Hewitt, ""Political Violence and Te...",START Primary Collection,NaN,NaN,NaN,NaN,"201612010023, 201612010024, 201612010025, 2016..."
freq,NaN,NaN,NaN,NaN,101,NaN,18,NaN,24636,NaN,...,1607,205,134,139,78002,NaN,NaN,NaN,NaN,80
mean,2.002705e+11,2002.638997,6.467277,15.505644,NaN,0.045346,NaN,131.968501,NaN,7.160938,...,NaN,NaN,NaN,NaN,NaN,-4.543731,-4.464398,0.090010,-3.945952,NaN
std,1.325957e+09,13.259430,3.388303,8.814045,NaN,0.208063,NaN,112.414535,NaN,2.933408,...,NaN,NaN,NaN,NaN,NaN,4.543547,4.637152,0.568457,4.691325,NaN
min,1.970000e+11,1970.000000,0.000000,0.000000,NaN,0.000000,NaN,4.000000,NaN,1.000000,...,NaN,NaN,NaN,NaN,NaN,-9.000000,-9.000000,-9.000000,-9.000000,NaN
25%,1.991021e+11,1991.000000,4.000000,8.000000,NaN,0.000000,NaN,78.000000,NaN,5.000000,...,NaN,NaN,NaN,NaN,NaN,-9.000000,-9.000000,0.000000,-9.000000,NaN
50%,2.009022e+11,2009.000000,6.000000,15.000000,NaN,0.000000,NaN,98.000000,NaN,6.000000,...,NaN,NaN,NaN,NaN,NaN,-9.000000,-9.000000,0.000000,0.000000,NaN
75%,2.014081e+11,2014.000000,9.000000,23.000000,NaN,0.000000,NaN,160.000000,NaN,10.000000,...,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN
max,2.017123e+11,2017.000000,12.000000,31.000000,NaN,1.000000,NaN,1004.000000,NaN,12.000000,...,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,NaN

In [8]:
df.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [9]:
df1=(df.dropna(axis=1))

In [10]:
df1.shape

(181691, 29)

In [11]:
list(df1.columns)

['eventid',
 'iyear',
 'imonth',
 'iday',
 'extended',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'vicinity',
 'crit1',
 'crit2',
 'crit3',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'targtype1',
 'targtype1_txt',
 'gname',
 'individual',
 'weaptype1',
 'weaptype1_txt',
 'property',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY']

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 29 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   country          181691 non-null  int64
 6   country_txt      181691 non-null  object
 7   region           181691 non-null  int64
 8   region_txt       181691 non-null  object
 9   vicinity         181691 non-null  int64
 10  crit1            181691 non-null  int64
 11  crit2            181691 non-null  int64
 12  crit3            181691 non-null  int64
 13  success          181691 non-null  int64
 14  suicide          181691 non-null  int64
 15  attacktype1      181691 non-null  int64
 16  attacktype1_txt  181691 non-null  object
 17  targtype1        181691 non-null  int64
 18  targtype1_txt    181691 non-null  object
 19  gname            181691 non-null  object
 20  individual       181691 non-null  int64
 21  weaptype1        181691 non-null  int64
 22  weaptype1_txt    181691 non-null  object
 23  property         181691 non-null  int64
 24  dbsource         181691 non-null  object
 25  INT_LOG          181691 non-null  int64
 26  INT_IDEO         181691 non-null  int64
 27  INT_MISC         181691 non-null  int64
 28  INT_ANY          181691 non-null  int64
dtypes: int64(22), object(7)
memory usage: 40.2+ MB

In [13]:
df1.duplicated().sum()

0

In [15]:
df1.drop("eventid", axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
df1

,iyear,imonth,iday,extended,country,country_txt,region,region_txt,vicinity,crit1,...,gname,individual,weaptype1,weaptype1_txt,property,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
0,1970,7,2,0,58,Dominican Republic,2,Central America & Caribbean,0,1,...,MANO-D,0,13,Unknown,0,PGIS,0,0,0,0
1,1970,0,0,0,130,Mexico,1,North America,0,1,...,23rd of September Communist League,0,13,Unknown,0,PGIS,0,1,1,1
2,1970,1,0,0,160,Philippines,5,Southeast Asia,0,1,...,Unknown,0,13,Unknown,0,PGIS,-9,-9,1,1
3,1970,1,0,0,78,Greece,8,Western Europe,0,1,...,Unknown,0,6,Explosives,1,PGIS,-9,-9,1,1
4,1970,1,0,0,101,Japan,4,East Asia,0,1,...,Unknown,0,8,Incendiary,1,PGIS,-9,-9,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,0,182,Somalia,11,Sub-Saharan Africa,0,1,...,Al-Shabaab,0,5,Firearms,-9,START Primary Collection,0,0,0,0
181687,2017,12,31,0,200,Syria,10,Middle East & North Africa,1,1,...,Muslim extremists,0,6,Explosives,1,START Primary Collection,-9,-9,1,1
181688,2017,12,31,0,160,Philippines,5,Southeast Asia,0,1,...,Bangsamoro Islamic Freedom Movement (BIFM),0,8,Incendiary,1,START Primary Collection,0,0,0,0
181689,2017,12,31,0,92,India,6,South Asia,0,1,...,Unknown,0,6,Explosives,-9,START Primary Collection,-9,-9,0,-9
181690,2017,12,31,0,160,Philippines,5,Southeast Asia,0,1,...,Unknown,0,6,Explosives,0,START Primary Collection,-9,-9,0,-9

In [17]:
df1.corr()

,iyear,imonth,iday,extended,country,region,vicinity,crit1,crit2,crit3,...,suicide,attacktype1,targtype1,individual,weaptype1,property,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
iyear,1.000000,0.000139,0.018254,0.091754,-0.135023,0.401384,0.070659,0.001995,0.026211,-0.016784,...,0.137736,0.074153,0.079082,0.017944,-0.011737,-0.278916,-0.143601,-0.133253,-0.077847,-0.175596
imonth,0.000139,1.000000,0.005497,-0.000468,-0.006305,-0.002999,-0.004501,0.001568,0.001734,0.000176,...,0.003071,0.006705,-0.000948,-0.001661,0.007863,-0.005816,-0.002302,-0.002034,-0.002554,-0.006336
iday,0.018254,0.005497,1.000000,-0.004700,0.003468,0.009710,-0.005367,0.011434,-0.002702,-0.004889,...,0.003593,-0.005333,-0.000052,-0.003788,-0.003019,-0.003903,-0.001540,-0.001621,-0.002027,-0.001199
extended,0.091754,-0.000468,-0.004700,1.000000,-0.020466,0.038389,0.017784,-0.015029,0.001249,0.048533,...,-0.033961,0.272272,0.011613,-0.008929,0.207802,-0.002096,0.071768,0.075147,0.027335,0.080767
country,-0.135023,-0.006305,0.003468,-0.020466,1.000000,0.148597,-0.012291,-0.006646,-0.038480,-0.040288,...,-0.050360,-0.021384,-0.019703,0.027918,-0.023708,0.032051,0.069904,0.067564,0.207281,0.153118
region,0.401384,-0.002999,0.009710,0.038389,0.148597,1.000000,0.073678,0.025521,-0.013163,-0.010175,...,0.112672,0.007642,0.041396,-0.059963,0.013257,-0.183279,-0.082584,-0.071917,0.043139,-0.047900
vicinity,0.070659,-0.004501,-0.005367,0.017784,-0.012291,0.073678,1.000000,0.003330,-0.000534,-0.054995,...,0.008352,0.006504,0.024644,-0.011986,0.001496,-0.019811,0.014487,0.015119,-0.008232,0.010325
crit1,0.001995,0.001568,0.011434,-0.015029,-0.006646,0.025521,0.003330,1.000000,-0.008984,-0.040589,...,0.019039,0.027544,-0.040026,-0.025591,0.029257,-0.007595,0.089973,0.089888,0.015692,0.082288
crit2,0.026211,0.001734,-0.002702,0.001249,-0.038480,-0.013163,-0.000534,-0.008984,1.000000,-0.031425,...,0.002770,0.005157,-0.101522,0.003311,-0.008549,-0.002711,-0.024153,-0.023829,-0.012980,-0.027752
crit3,-0.016784,0.000176,-0.004889,0.048533,-0.040288,-0.010175,-0.054995,-0.040589,-0.031425,1.000000,...,-0.026620,0.028124,0.251296,0.016806,0.018320,0.013345,-0.134557,-0.138251,-0.036112,-0.130216
success,-0.082963,-0.002845,-0.011802,0.073233,-0.037827,-0.030909,-0.002223,-0.010733,-0.013476,-0.013678,...,-0.031155,0.048408,-0.059637,-0.013868,-0.008178,-0.036876,0.059875,0.059183,-0.014906,0.038245
suicide,0.137736,0.003071,0.003593,-0.033961,-0.050360,0.112672,0.008352,0.019039,0.002770,-0.026620,...,1.000000,-0.029962,-0.023440,0.000775,-0.039928,-0.073382,0.058735,0.065882,-0.000879,0.057241
attacktype1,0.074153,0.006705,-0.005333,0.272272,-0.021384,0.007642,0.006504,0.027544,0.005157,0.028124,...,-0.029962,1.000000,0.014513,0.016438,0.658954,0.031976,0.075002,0.077225,0.010632,0.088711
targtype1,0.079082,-0.000948,-0.000052,0.011613,-0.019703,0.041396,0.024644,-0.040026,-0.101522,0.251296,...,-0.023440,0.014513,1.000000,0.005267,0.019846,0.004897,-0.056550,-0.058010,-0.043492,-0.054497
individual,0.017944,-0.001661,-0.003788,-0.008929,0.027918,-0.059963,-0.011986,-0.025591,0.003311,0.016806,...,0.000775,0.016438,0.005267,1.000000,0.005754,0.006625,-0.048526,-0.048542,0.005490,-0.037488
weaptype1,-0.011737,0.007863,-0.003019,0.207802,-0.023708,0.013257,0.001496,0.029257,-0.008549,0.018320,...,-0.039928,0.658954,0.019846,0.005754,1.000000,0.018999,0.072941,0.074702,-0.011652,0.084257
property,-0.278916,-0.005816,-0.003903,-0.002096,0.032051,-0.183279,-0.019811,-0.007595,-0.002711,0.013345,...,-0.073382,0.031976,0.004897,0.006625,0.018999,1.000000,0.052445,0.047609,0.022058,0.065701
INT_LOG,-0.143601,-0.002302,-0.001540,0.071768,0.069904,-0.082584,0.014487,0.089973,-0.024153,-0.134557,...,0.058735,0.075002,-0.056550,-0.048526,0.072941,0.052445,1.000000,0.996211,0.052537,0.891051
INT_IDEO,-0.133253,-0.002034,-0.001621,0.075147,0.067564,-0.071917,0.015119,0.089888,-0.023829,-0.138251,...,0.065882,0.077225,-0.058010,-0.048542,0.074702,0.047609,0.996211,1.000000,0.082014,0.893811
INT_MISC,-0.077847,-0.002554,-0.002027,0.027335,0.207281,0.043139,-0.008232,0.015692,-0.012980,-0.036112,...,-0.000879,0.010632,-0.043492,0.005490,-0.011652,0.022058,0.052537,0.082014,1.000000,0.252193
INT_ANY,-0.175596,-0.006336,-0.001199,0.080767,0.153118,-0.047900,0.010325,0.082288,-0.027752,-0.130216,...,0.057241,0.088711,-0.054497,-0.037488,0.084257,0.065701,0.891051,0.893811,0.252193,1.000000